[Unit]
Description=lit web server
After=network.target

[Service]
ExecStart=/usr/bin/python3 web_server.py
WorkingDirectory=/home/pi/lit_web_server
StandardOutput=inherit
StandardError=inherit
Restart=always

[Install]
WantedBy=multi-user.target
