[Unit]
Description=lit web server
After=network.target

[Service]
Environment=LIT_USER=nick
Environment=LIT_PASSWORD=pesce
ExecStart=/usr/local/bin/gunicorn -b 0.0.0.0:3536 litweb:app
StandardOutput=inherit
StandardError=inherit
Restart=always

[Install]
WantedBy=multi-user.target
