<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>LIT</title>
<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"> <link href="{{ url_for('static', filename='css/bootstrap-colorpicker.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/bootstrap-slider.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/bootstrap2-toggle.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/layout.css') }}" rel="stylesheet">
    </head>
    <body>
        <div id="header" class="jumbotron text-center">
            <h1>LIT</h1>
            <h4>Lit Illumination Technology</h4>
        </div>
        <div class="container start_hidden" id="main_container">
            <div class="row">
                <div class="col-sm-12 centered_hor">
                    <button type="button" class="btn btn-danger" id="back">back</button>
                    <button type="button" class="btn btn-success" id="forward">forward</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 centered_hor" id="presets">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4 centered_hor">
                    <div class="panel panel-default">
                        <div class="panel-heading">Lights</div>
                        <div class="panel-body" id="range_switches">
                        </div>
                    </div>
                </div>
                <div class="col-sm-4"></div>
            </div>
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4 centered_hor">
                    <div class="panel panel-default">
                        <div class="panel-heading">Effect</div>
                        <div class="panel-body">
                            <select id="effect_selector"></select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4"></div>
            </div>
            <div id="controls"></div>
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4 centered_hor">
                    <div class="panel panel-default">
                        <div class="panel-heading">Speed</div>
                        <div class="panel-body">
                            <input id="speed_slider" type='text' data-slider-value=50 data-slider-min=0 data-slider-max=100 data-slider-step=0.1>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4"></div>
            </div>
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4 centered_hor">
                    <div class="panel panel-default">
                        <div class="panel-heading">Overlay</div>
                        <div class="panel-body">
                            <input type="checkbox" data-off="overlayed" data-on="overlayed" data-width="100" data-height="32" id="overlayed_toggle" checked="false">
                            <div id="opacity_container" class="start_hidden">
                                <div class="panel-heading">Opacity</div>
                                <input id="opacity_slider" type='text' data-slider-value=1 data-slider-min=0 data-slider-max=10 data-slider-step=0.1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4"></div>
            </div>
            <div class="row">
                <div class="col-sm-5"></div>
                <div class="col-sm-2 centered_hor">
                    <button type="button" class="btn btn-success" id="send">go</button>
                </div>
                <div class="col-sm-5"></div>
            </div>
            <h4 class="row centered_hor" id="result"></h4>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap-colorpicker.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap-slider.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap2-toggle.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap-notify.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>
</html>

