<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>LIT</title>

        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/bootstrap-colorpicker.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/bootstrap-slider.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/bootstrap2-toggle.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/layout.css') }}" rel="stylesheet">
    </head>
    <body>
        <div id="header" class="jumbotron text-center">
            <h1>LIT</h1>
            <h4>Lit Illumination Technology</h4>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-5"></div>
                    <div class="col-sm-2 centered_hor">
                        <button type="button" class="btn btn-success start_hidden" id="on">on</button>
                        <button type="button" class="btn btn-danger start_hidden" id="off">off</button>
                    </div>
                </div>
                <div class="col-sm-5"></div>
            </div>
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4 centered_hor start_hidden">
                    <div class="panel panel-default">
                        <div class="panel-heading">Lights</div>
                        <div class="panel-body" id="range_switches">
                        </div>
                    </div>
                </div>
                <div class="col-sm-4"></div>
            </div>
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4 centered_hor start_hidden">
                    <div class="panel panel-default">
                        <div class="panel-heading">Effect</div>
                        <div class="panel-body">
                            <select id="effect_selector"></select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4"></div>
            </div>
            <div id="controls"></div>
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4 centered_hor start_hidden">
                    <div class="panel panel-default">
                        <div class="panel-heading">Color</div>
                        <div class="panel-body">
                        </div>
                    </div>
                </div>
                <div class="col-sm-4"></div>
            </div>
            <div class="row">
                <div class="col-sm-5"></div>
                <div class="col-sm-2 centered_hor">
                    <button type="button" class="btn btn-success start_hidden" id="send">go</button>
                </div>
                <div class="col-sm-5"></div>
            </div>
            <h4 class="row centered_hor" id="result"></h4>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap-colorpicker.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap-slider.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap2-toggle.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap-notify.min.js') }}"></script>
        <script>
            $(document).ready(function(){
                effectSelector = $("#effect_selector");
                sendButton = $("#send");
                offButton = $("#off");
                onButton = $("#on");
                ranges = [];
                colors = {};
                argControls = {};

                $.get("/get_ranges.json", function(result) {
                    $.each(result.sections, function() {
                        var name = this;
			$range_input = $("<input type='checkbox' data-toggle='toggle' data-off='" + name + "' data-on='" + name + "' data-width='72' data-height='32' checked>");
			ranges.push(name);
                        $range_input.change(function(){
                            if($(this).prop("checked")) {
                                ranges.push(name);
                            }else {
                                ranges.splice(ranges.indexOf(name), 1);
                            }
                        });
                        $switch_container = $("<div class='toggle_container'></div>");
                        $range_input.appendTo($switch_container);
                        $switch_container.appendTo("#range_switches");
                        $range_input.bootstrapToggle();
                        $("#range_switches").closest(".col-sm-4").fadeIn();
                    });
                });

                $.get("/has_ai", function(result) {
                    if(result=="true"){
                        $("<input type='text' placeholder='What do you want me to do for you?' class='ai-input start_hidden' id='ai'/>").appendTo("#header");
                        aiInput = $("#ai");
                        $("#header").css("padding-bottom", "0px");
                        aiInput.fadeIn();
                        aiInput.focus();
                        aiInput.keypress(function(e){
                            if(e.which == 13){
                                $.post({
                                    url: '/ai_request',
                                    data: aiInput.val(),
                                    dataType: 'text'
                                }).done(function(data) {
                                    var msg = new SpeechSynthesisUtterance($.parseJSON(data).speech);
                                    window.speechSynthesis.speak(msg);
                                    $.notify({
                                        message: $.parseJSON(data).speech
                                    },{
                                        type: 'success'
                                    });
                                });
                                aiInput.val("");
                            }
                        });
                    }
                
                });

                //Populate the effect dropdown
                $.getJSON("/get_effects.json", function(result) {
                    $.each(result.effects, function() {
                        effectSelector.append($("<option />").val(JSON.stringify(this.schema)).text(this.name));
                    });
                    effectSelector.closest(".col-sm-4").fadeIn();
                    sendButton.fadeIn();
                    offButton.fadeIn();
                    onButton.fadeIn();
                    //Update options for initially selected effect
                    effectSelector.trigger("change");
                });

                function componentToHex(c) {
                    var hex = c.toString(16);
                    return hex.length == 1 ? "0" + hex : hex;
                }

                function rgbToHex(rgb) {
                    return "#" + componentToHex(rgb[0]) + componentToHex(rgb[1]) + componentToHex(rgb[2]);
                }

                //Populate the color selector
                $.getJSON("/get_colors.json", function(result) {
                    $.each(result.colors, function() {
                        colors[this.name] = rgbToHex(this.color);
                    });
                });

                //When a different effect is chosen, hide/show appropriate options
                effectSelector.change(function() {
                    $('#controls').empty();
                    argControls = {};
                    var controls = effectSelector.val();
                    controls = $.parseJSON(controls);
                    for (i in controls) {
                        type = controls[i].value.type;
                        name = i;
                        mainDiv = $('<div/>', { 'class': 'row' });
                        mainDiv.append($('<div/>', {'class': 'col-sm-4'}));
                        controlDiv = $('<div/>', {'class': 'panel panel-default'});
                        controlDiv.append($('<div/>', {'class': 'panel-heading', text: name}));
                        mainDiv.append($('<div/>', {'class': 'col-sm-4 centered_hor'}).append(controlDiv));
                        mainDiv.append($('<div/>', {'class': 'col-sm-4'}));
                        if (type == 'number') {
                            slider = $('<input/>', {id: 'input_'+i, type: 'text', 'data-slider-value': controls[i].value.default, 'data-slider-min': controls[i].value.min, 'data-slider-max': controls[i].value.max, 'data-slider-step': 0.1});
                            controlDiv.append($('<div/>', {'class': 'panel-body'}).append(slider));
                            $('#controls').append(mainDiv);
                            slider.slider();
                            argControls[name] = function(s) {
                                return function() {
                                    return parseInt(s.slider("getValue"))
                                }
                            }(slider);
                        }
                        else if (type == 'color') {
                            colorSelector = $('<input/>', {id: 'input_'+i, 'class': 'form-control colorpicker-element', type: 'text', 'data-format': 'hex', 'value': rgbToHex(controls[i].value.default)});
                            controlDiv.append($('<div/>', {'class': 'panel-body'}).append(colorSelector));
                            $('#controls').append(mainDiv);
                            colorSelector.colorpicker({colorSelectors : colors,
                                            template: '<div class="colorpicker dropdown-menu">' +
                                              '<div class="colorpicker-saturation"><i><b></b></i></div>' +
                                              '<div class="colorpicker-hue"><i></i></div>' +
                                              '<div class="colorpicker-alpha"><i></i></div>' +
                                              '<div class="colorpicker-color"><div /></div>' +
                                              '</div>',});
                            argControls[name] = function (selector){
                                return function() {
                                    var rgba = selector.data('colorpicker').color.toRGB();
                                    return [rgba['r'], rgba['g'], rgba['b']];
                                }
                            }(colorSelector);
                        }
                    }
                });
                

                //Send the command
                sendButton.click(function(){
                    if(ranges.length == 0){
                        var command = {
                            effect: "off",
                            args: {"ranges": "all"}
                        }
                    }
                    else {
                        var args = {};
                        args["ranges"] = ranges;
                        for (control in argControls) {
                            args[control] = argControls[control]();
                        }
                        var command = {
                            effect : effectSelector.children("option").filter(":selected").text(),
                            args : args
                        };
                    }
                    $.post({
                        url: '/command',
                        data: JSON.stringify(command),
                        contentType: "application/json",
                        dataType: 'json'
                    }).done(function(data) {
                        if ( $(window).width() > 768) {
                            $("#result").html("")
                            $.notify({
                                // options
                                message: data.result
                            },{
                                // settings
                                type: 'success'
                            });
                        } 
                        else {
                            $("#result").html(data.result)
                        }
                    });
                });

                offButton.click(function(){
                    var command = {
                            effect: "off",
                            args: {"ranges": "all"}
                    }

                    $.post({
                        url: '/command',
                        data: JSON.stringify(command),
                        contentType: "application/json",
                        dataType: 'json'
                    }).done(function(data) {
                        if ( $(window).width() > 768) {
                            $("#result").html("")
                            $.notify({
                                // options
                                message: data.result
                            },{
                                // settings
                                type: 'success'
                            });
                        } 
                        else {
                            $("#result").html(data.result)
                        }
                    });
                });

                onButton.click(function(){
                    var command = {
                            effect: "on",
                            args: {"ranges": "all"}
                    }

                    $.post({
                        url: '/command',
                        data: JSON.stringify(command),
                        contentType: "application/json",
                        dataType: 'json'
                    }).done(function(data) {
                        if ( $(window).width() > 768) {
                            $("#result").html("")
                            $.notify({
                                // options
                                message: data.result
                            },{
                                // settings
                                type: 'success'
                            });
                        } 
                        else {
                            $("#result").html(data.result)
                        }
                    });
                });

            });
        </script>
    </body>
</html>

